<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Form</title>
</head>
<body>
    <form method="post" action='/form' name="sendForm">
        <label>
            Name:
            <input id="form-name" type="text" name="name" />
        </label>
        <label>
            Email:
            <input id="form-email" type="text" name="email" />
        </label>
        <label>
            Phone:
            <input id="form-email" type="text" name="phone" />
        </label>
        <button type="submit" id="submitButton">Submit</button>
    </form>
    <table id="itemsTable">
    </table>
    <script>
        var table = document.getElementById('itemsTable');
        var submitButton = document.getElementById('submitButton');
        var form = document.forms.sendForm;
        button.addEventListener('click', postData);
        table.addEventListener('click', deleteData);

        function postData(e) {
            e.preventDefault();
            var name = document.forms.sendForm.name.value;
            var email = document.forms.sendForm.email.value;
            var phone = document.forms.sendForm.phone.value;
            var xhr, body;
            xhr = new XMLHttpRequest();
            body = 'name=' + name + '&email=' + email + '&phone=' + phone;
            xhr.open('POST', '/items', true);
            xhr.send(body);
            xhr.onreadystatechange = function() {
                if (xhr.status === 200) {
                    form.reset();
                    getData();
                }
            }
        }

        function getData() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/items', true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.status === 200) {
                    drawTable(JSON.parse(xhr.responseText));
                }
            }
        }

        function deleteData(e) {
            var xhr;
            if (e.target.tagName === 'BUTTON') {
                var xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/items?id=' + e.target.id, true);
                xhr.send();
                xhr.onreadystatechange = function() {
                    if (xhr.status === 200) {
                        getData();
                    }
                }
            }
        }

        function drawTableHeader() {
            var tr = document.createElement('tr');
            tr.appendChild(document.createElement('th')).innerText = "#";
            tr.appendChild(document.createElement('th')).innerText = "Name";
            tr.appendChild(document.createElement('th')).innerText = "E-mail";
            tr.appendChild(document.createElement('th')).innerText = "Phone";
            tr.appendChild(document.createElement('th')).innerText = "Action";
            table.appendChild(tr);
        }

        function drawTable(items) {
            table.innerHTML = '';
            drawTableHeader();
            for (var i = 0; i < items.length; i++) {
                var tr = document.createElement('tr');
                tr.appendChild(document.createElement('td')).innerText = i + 1;
                for (var key in items[i]) {
                    if (items[i].hasOwnProperty(key) && key !== 'id') {
                        tr.appendChild(document.createElement('td')).innerText = items[i][key];
                    }
                }
                var deleteButton = document.createElement('button');
                deleteButton.appendChild(document.createTextNode('Delete'));
                deleteButton.setAttribute('id', items[i].id);
                deleteButton.classList.add('delete-button');
                tr.appendChild(deleteButton);
                table.appendChild(tr);
            }
        }
    </script>
</body>
</html>
