<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
    <title>Form</title>
</head>
<body>
    <form method="post" action='/form' name="sendForm">
        <label>
            Name:
            <input id="form-name" type="text" name="name" />
        </label>
        <label>
            Email:
            <input id="form-email" type="text" name="email" />
        </label>
        <label>
            Phone:
            <input id="form-email" type="text" name="phone" />
        </label>
        <button type="submit" id="submitButton">Submit</button>
        <table id="itemsTable">
            <th>#</th>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone</th>
            <th></th>
        </table>
    </form>
    <script>
        var button = document.getElementById('submitButton');
        var form = document.forms.sendForm;
        var table = document.getElementById('itemsTable');
        button.addEventListener('click', sendPostRequest);
        getData();
        /*function del(e) {
            e.preventDefault();
            deleteItem('20170129155911850');
        }
        function deleteItem(id) {
            var xhr = new XMLHttpRequest();
            xhr.open('DELETE', '/items?id=' + id, true);
            xhr.send();
            return;
        }*/
        function sendPostRequest(e) {
            e.preventDefault();
            var name = document.forms.sendForm.name.value;
            var email = document.forms.sendForm.email.value;
            var phone = document.forms.sendForm.phone.value;
            var xhr, body;
            xhr = new XMLHttpRequest();
            body = 'name=' + name + '&email=' + email + '&phone=' + phone;
            xhr.open('POST', '/items', true);
            xhr.send(body);
            xhr.onreadystatechange = function() {
                if (xhr.status === 200) {
                    form.reset();
                    getData();
                }
            }
        }
        function getData() {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', '/items', true);
            xhr.send();
            xhr.onreadystatechange = function() {
                if (xhr.status === 200) {
                    drawTable(JSON.parse(xhr.responseText));
                }
            }
        }
        function drawTable(items) {
            table.innerHTML = '';
            for (var i = 0; i < items.length; i++) {
                var tr = document.createElement('tr');
                tr.appendChild(document.createElement('td')).innerText = i+1;
                for (var key in items[i]) {
                    if (items[i].hasOwnProperty(key) && key !== 'id') {
                        tr.appendChild(document.createElement('td')).innerText = items[i][key];
                    }
                }
                var deleteButton = document.createElement('button');
                deleteButton.appendChild(document.createTextNode('Delete'));
                deleteButton.setAttribute('id', items[i].id);
                deleteButton.classList.add('delete-button');
                tr.appendChild(deleteButton);
                table.appendChild(tr);
            }
        }
    </script>
</body>
</html>
